body {
  width: 1280px;

  margin-left: auto;
  margin-right: auto;
  gap: 0px;
  opacity: 0px;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  background-color: #feedde;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
